{% extends 'blog/base.html' %}

{% block content %}
  <ul class="post-list">
      <li>
        {% if post.published_date %}
          <p>Posted {{post.published_date}} by {{post.author}}</p>
        {% endif %}

        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
        <p>{{post.text|linebreaksbr}}</p>
      </li>
  </ul>
{% endblock %}
